<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<%= link_to "all the posts", controller: "posts" %> 

<%= link_to 'Edit', edit_post_path(@post) %>