
$body-bg: #343a40;
$body-color: #fff;

body
{
    text-align: center;
}

.container
{
    margin: auto;
    text-align: center;
}

.jumbotron
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #111111;
    border-radius: .3rem;
}

.ticker
{
    margin-top: 2rem;
    background-color: #111111;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-radius: 25px 25px 0px 0px;
    border: 2px solid #f0f0f0;
}


h1 
{
    margin-right: auto;
    margin-left: auto;
    color: #f0f0f0;
    align-content: center;
    background-color: #111111;
    width: fit-content;
    padding: 10px;
    border-radius: 25px 0px 25px 0px;
    border: 2px solid #f0f0f0;
}

h7, h4
{
    display: block;
    color: #f0f0f0;
    text-shadow: #111111;
}

h2
{
    text-align: left;
    display: block;
    color: #f0f0f0;
    text-shadow: #111111;
}

h3
{
    color: #f0f0f0;
}

table
{
    background-color: #111111;
    height: 100%;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 1rem;
}


tr
{
    display: inline-flex;
    margin: 10px;
    background-image: linear-gradient(to bottom right, #f0f0f0 , #202020);
    //background-color: #f0f0f0;
    border-radius: 0px 0px 25px 25px;
    padding: 20px;
    margin: 10px;
}

td
{
    background-color: #111111;
    margin: auto;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

p
{
    color: #f0f0f0;
}


// Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";
 